@page  "/login"
@using System.ComponentModel.DataAnnotations
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-info">
        Username: omarwasfi<br />
        Password: 12345678
    </div>
    <div class="card">
        <h4 class="card-header">Blazor WebAssembly JWT Login Example</h4>
        <div class="card-body">
            <EditForm Model="@loginWithUsernameRequest" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Username</label>
                    <InputText @bind-Value="loginWithUsernameRequest.Username" class="form-control" />
                    <ValidationMessage For="@(() => loginWithUsernameRequest.Username)" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="loginWithUsernameRequest.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => loginWithUsernameRequest.Password)" />
                </div>
                <button class="btn btn-primary">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Login
                </button>
                @if (!string.IsNullOrEmpty(error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@error</div>
                }
            </EditForm>
        </div>
    </div>
    <div class="alert alert-info">
        <a href="/register">Not a member regiser now.</a>
    </div>
</div>

@code {
    LoginWithUsernameRequestDataViewModel loginWithUsernameRequest = new LoginWithUsernameRequestDataViewModel();
    private bool loading;
    private string error;

    protected override void OnInitialized()
    {
        if (AuthenticationService.Token != null)
        {
            NavigationManager.NavigateTo("MyProfile");
        }

        loginWithUsernameRequest = new LoginWithUsernameRequestDataViewModel();
    }

    private async void HandleValidSubmit()
    {
        loading = true;
        try
        {
            await AuthenticationService.Login(loginWithUsernameRequest);

            //var returnUrl = NavigationManager.QueryString("returnUrl") ?? "/";
            NavigationManager.NavigateTo("MyProfile");

            this.StateHasChanged();
            
        }
        catch (Exception ex)
        {
            error = ex.Message;
            loading = false;
            StateHasChanged();
        }
    }


}